:root {
    font-size: 18px;
    --primary-color: #036ba1;
    --secondary-color: rgba(0, 150, 199, 0.6);
    --ligth-grey: rgba(229, 229, 229, 1);
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 24px;
    }
}

/* test */

body,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--ligth-grey);
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

/* HEADER  */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #036ba1;
}
.brand {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.brand__logo {
    position: relative;
}

.logo {
    position: absolute;
    left: 10px;
    top: 20px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
        left: 20px;
    }
    100% {
        opacity: 0;
    }
}

.logo-transition {
    animation: fadeOut 2s;
}

.brand__img {
    width: 50px;
}

.brand__ttl {
    text-transform: uppercase;
    color: #fff;
}

/* SEARCH BAR */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 1rem;
}

.form__label {
    width: 80%;
}

.form__input {
    border: 3px solid #000;
    border-radius: 20px;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
}

.form__input:focus {
    padding: 0.8rem;
}

.form__input::placeholder {
    font-size: 1.2rem;
    padding: 0.6rem;
}

.form__suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 2.7rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.section-main {
    width: 80%;
    margin: 0 auto;
}

.section-main__weather-icon {
    width: 120px;
    height: 120px;
}

.section-main__localisation {
    max-width: 50%;
    border-radius: 20px;
    background-color: #fff;
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.section-main__weather {
    height: 17rem;
    width: 100%;
    border-radius: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-main__weather-info {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.section-main__weather-temp {
    font-size: 2rem;
    /* border-left: 2px solid #000;
    padding-left: 5rem; */
}

@media screen and (max-width: 1024px) {
    .form__suggestions {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
    }
    .header__img {
        width: 100px;
    }

    .logo {
        position: absolute;
        left: 20px;
        top: 18px;
    }

    .section-div__localisation {
        width: 60%;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
            left: 40px;
        }
        100% {
            opacity: 0;
        }
    }

    .logo-transition {
        animation: fadeOut 2s;
    }

    .form {
        width: 30%;
        margin-bottom: 0;
        align-items: stretch;
        max-width: 330px;
    }
    .form__label {
        width: 100%;
    }
    .form__input {
        max-width: 320px;
    }
    .form__suggestions {
        width: 330px;
        margin-top: 1.7rem;
    }
}
