:root {
    font-size: 18px;
    --primary-color: #036ba1;
    --secondary-color: rgba(0, 150, 199, 0.6);
    --ligth-grey: rgba(229, 229, 229, 1);
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 24px;
    }
}

/* test */

body,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--ligth-grey);
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

/* HEADER  */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #036ba1;
}

.header-brand {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-brand-img {
    width: 50px;
}

.header-brand-txt {
    text-transform: uppercase;
    color: #fff;
}

/* SEARCH BAR */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.form__label {
    font-size: 1.2rem;
    width: 60%;
}

.form__input {
    border: 2px solid #000;
    border-radius: 20px;
    width: 100%;
    padding: 0.3rem;
}
.form__input::placeholder {
    font-size: 0.7rem;
    padding: 0.6rem;
}

.form__suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 2.7rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .form__suggestions {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        flex-direction: row;
        justify-content: space-around;
    }
    .header-brand-img {
        width: 100px;
    }
    .form {
        width: 30%;
        margin-bottom: 0;
        align-items: stretch;
        max-width: 330px;
    }
    .form__label {
        width: 100%;
    }
    .form__input {
        max-width: 320px;
    }
    .form__suggestions {
        width: 330px;
        margin-top: 1.7rem;
    }
}
